<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>导航修改</title>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
<!--[if lte IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
 <link rel="stylesheet" type="text/css" href="js/home.css">
<![endif]-->
  </head>
  <body>
{% include 'head.html' %}

<div class="container-fluid addAdmins">
  <div class="row">
      {% include 'left.html' %}

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <ol class="breadcrumb">
              <li><a href="/admin/category">导航管理</a></li>
              <li class="active">修改导航</li>
            </ol>
          </div>
          <div class="panel-body">
            

            <form class="form-horizontal" method="post">


              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">分类标题</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{category.name}}" class="form-control" id="inputPassword" placeholder="输入您的分类名">
                </div>
              </div>


              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">url</label>
                <div class="col-sm-10">
                  <input type="text" name="urls" value="{{category.urls}}" class="form-control" id="inputPassword" placeholder="设置url">
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">
                  <input type="text" value="{{category.sorts}}" name="sorts" class="form-control" id="inputPassword" placeholder="排序必须是整数">
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-sm center-block">修改</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
  <script type="text/javascript" src="/public/js/jquery.min.js"></script>
  <script type="text/javascript" src="/public/js/bootstrap.js"></script>
  </body>
</html>