<!DOCTYPE html>
<html>
<head>
	<title>登录页面</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<!--[if lte IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
 <link rel="stylesheet" type="text/css" href="js/home.css">
<![endif]-->
</head>
<body>
  <body class="login-body">
  <div class="container login-page">
    <h1 class="text-center">Hello, world!</h1>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
          <input type="text" name="user" class="form-control" id="inputEmail3" placeholder="Username">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
          <input type="password" name="pwd" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <p class="reg-err"></p>   
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a class="btn btn-default login-sign">登录</a>
        </div>
      </div>
      <a href="/admin/login">登录</a>
      <a href="/admin/register">注册</a>
    </form>
  </div>

	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script type="text/javascript">
		$('.login-sign').on('click',function(){
			$.ajax({
				type:'post',
				url:'/api/user/login',
				data:{
					user:$('[name="user"]').val(),
					pwd:$('[name="pwd"]').val(),
				},
				dataType:'json',
				success:function(result){
					console.log(result);
					$('.reg-err').html(result.message);
					if(result.code==3){
						console.log('跳转到主界面');
						location.href="/admin/home";
					}
				}
			})
		})
	</script>
</body>
</html>