<!DOCTYPE html>
<html>
<head>
	<title>博客</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<!--[if lte IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
 <link rel="stylesheet" type="text/css" href="js/home.css">
<![endif]-->
</head>
<body style="background:red;">
  <h1>网站首页</h1>

	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>